.jumbotron {
    padding-top: 6rem;
    background-color: #9cbef5;
}

#projects {
    background-color: #9cbef5;
}

section {
    padding-top: 5rem;
}

.social-media {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(2px, 30px));

}

.logo-sosmed:hover {
    transition: all .5s ease-in-out;
    color: black;
}

@media screen and (max-width: 765px) {
    *, html, body, head {
        /* max-width: 100%; */
        overflow-x: hidden;
    }
}